
body {
  font-family: 'Raleway';
  background: url(http://res.cloudinary.com/djjldnjz7/image/upload/v1452213331/photo-1445965366991-e6b18e56a0b4_zv63le.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.backdrop {
  background-color: rgba(44, 62, 80, 0.3);
  background-image: url("http://res.cloudinary.com/djjldnjz7/image/upload/v1446054733/pattern_nnzvzw.png");
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.main-text {
  position: relative;
  text-align: center;
  margin-top: 31%;
  right: 1%;
  color: white;
}

img {
  position: absolute;
}

.logo {
  height: 200px;
  width: 200px;
  background: url(http://res.cloudinary.com/djjldnjz7/image/upload/v1452215384/goodsize_evsmwr.png);\
  background-size: cover;
  z-index: 10;
}

h1  {
  font-weight: bold;
  font-size: 82px;
  letter-spacing: 1px;
  margin-bottom: 14px;
}

.btn {
  margin-top: 8px;

}

.powered-by {
  position: absolute;
  bottom: 0;
  right: 0;
}
